<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/Hobryant/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="Hobryant" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>